* {
  margin: 0;
  padding: 0;
}

nav ul {
  padding: 1em;
  overflow: hidden;

}

nav ul li{
  display: inline;
  font-size: 1.4em;
  margin-left: .5em;
  float: right;
}

.splash {
  background-image: url('./assets/images/splash-melb.jpg');
  height: 100vh;
  background-size: cover;
}

.project-container {
  padding: 2em;
  background-color: green;
}

.project {
  margin: 1em;
  border: 1px black solid;
  padding: 2em;
}

.bio-container {
  padding: 1em;
}

.bio-container img{
  height: 8em;
  width: 8em;
  border-radius: 360px;
  float: left;
  margin: 0 1em;
}
