* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(20, 34, 40);
}

h1 {
  border-bottom: 1px rgb(120, 96, 66) solid;
  padding-bottom: 1.3em;
}

h1,
h2 {
  font-family: 'Old Standard TT', 'Serif';
  color: rgb(120, 96, 66);
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

p {
  font-family: 'Questrial', 'sans-serif';
  font-size: 1.2em;
  color: rgb(203, 215, 221);
}

nav ul {
  padding: 1em;
  overflow: hidden;
}

nav ul li{
  display: inline;
  font-size: 1.8em;
  margin-left: .5em;
  float: right;
  font-family: 'Old Standard TT', 'Serif';
  color: rgb(20, 34, 40);
}

.splash {
  background-image: url('./assets/images/splash-melb.jpg');
  height: 100vh;
  background-size: cover;
  box-shadow: 0 0 1em black;
}

.project-container {
  padding: 6em 8em;
}

.project {
  margin: 1em;
  padding: 2em;
  overflow: hidden;
  text-align: center;
}

.project p {
  margin-left: 16em;
  padding: 0 3em;
}

.project img{
  float:left;
  height: 20em;
  width: 20em;
  margin-right: 1em;
}

.bio-container {
  padding: 6em 8em;
  box-shadow: 0 0 1em rgb(0,0,0);
  background: rgb(203, 215, 221);
}

.bio-container img{
  height: 8em;
  width: 8em;
  border-radius: 360px;
  float: left;
  margin: 0 2em;
  box-shadow: 0 0 0.5em black;
}

.bio-container p {
  color: rgb(20, 34, 40);
  padding: 0.3em;
}
